git+https://github.com/Rapptz/discord.py@rewrite#egg=discord.py[voice]
aiodns
akinator.py
ascii
beautifulsoup4
cchardet
certifi
decorator
googletrans
lxml
matplotlib
numpy
Pillow
psutil
pycares
pyshorteners
pytesseract
python-rapidjson
pytimeparse
qrcode
requests
urllib3
validators
wordcloud
zalgo-text