git+https://github.com/Rapptz/discord.py@rewrite#egg=discord.py[voice]
aiodns>=1.1.1
ascii>=3.6
beautifulsoup4>=4.6.0
cchardet>=2.1.1
decorator>=3.4.0
lxml>=4.2.3
pycares>=2.3.0
Pillow>=5.2.0
qrcode>=6.0
urllib3>=1.23
validators>=0.12.2
#
# Note: After installing, delete the library called "chardet" which was installed with Line 1
# because it was replaced with cchardet, a faster alternative, in Line 5.