aiodns
akinator.py[fast_async]
ascii
asyncpg
beautifulsoup4
cchardet
certifi
chardet
dblpy
decorator
discord.py[voice]
google_images_download
googletrans
lxml
matplotlib
numpy
Pillow
psutil
pycares
pyshorteners
pytesseract
python-rapidjson
pytimeparse
qrcode
requests
speedtest-cli
urllib3
validators
wordcloud
youtube_dl
zalgo-text